<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="mybatisGeneratorMapperSuffix" value="Dao" />
        <option name="mybatisGeneratorModelSuffix" value="Entity" />
        <option name="userMacSet">
          <set>
            <option value="24" />
            <option value="8C-16-45-0E-4E-BE" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>