<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="generateMethodInService" value="true" />
        <option name="generateMethodInServiceInterface" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="maxMeetContext" value="181" />
        <option name="typeMapperGroupMap">
          <map>
            <entry key="Default">
              <value>
                <TypeMapperGroup>
                  <option name="elementList">
                    <list>
                      <TypeMapper>
                        <option name="columnType" value="varchar(\(\d+\))?" />
                        <option name="javaType" value="java.lang.String" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="char(\(\d+\))?" />
                        <option name="javaType" value="java.lang.String" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="text" />
                        <option name="javaType" value="java.lang.String" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="decimal(\(\d+\))?" />
                        <option name="javaType" value="java.lang.Double" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="decimal(\(\d+,\d+\))?" />
                        <option name="javaType" value="java.lang.Double" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="integer" />
                        <option name="javaType" value="java.lang.Integer" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="int(\(\d+\))?" />
                        <option name="javaType" value="java.lang.Integer" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="int4" />
                        <option name="javaType" value="java.lang.Integer" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="int8" />
                        <option name="javaType" value="java.lang.Long" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="bigint(\(\d+\))?" />
                        <option name="javaType" value="java.lang.Long" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="datetime" />
                        <option name="javaType" value="java.util.Date" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="timestamp" />
                        <option name="javaType" value="java.util.Date" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="boolean" />
                        <option name="javaType" value="java.lang.Boolean" />
                      </TypeMapper>
                      <TypeMapper>
                        <option name="columnType" value="tinyint(1)" />
                        <option name="javaType" value="java.lang.Object" />
                      </TypeMapper>
                    </list>
                  </option>
                  <option name="name" value="Default" />
                </TypeMapperGroup>
              </value>
            </entry>
          </map>
        </option>
        <option name="useD1" value="1681866537877" />
        <option name="userMacSet">
          <set>
            <option value="24" />
            <option value="8C-16-45-0E-4E-BE" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>